.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* animacoes */

.delay4 {
  animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  -o-animation-delay: .4s;
  transition-delay: .4s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
}
.delay6 {
  animation-delay: .6s;
  -moz-animation-delay: .6s;
  -webkit-animation-delay: .6s;
  -o-animation-delay: .6s;
  transition-delay: .6s;
  -webkit-transition-delay: .6s;
  -moz-transition-delay: .6s;
  -o-transition-delay: .6s;
}
.delay8 {
  animation-delay: .8s;
  -moz-animation-delay: .8s;
  -webkit-animation-delay: .8s;
  -o-animation-delay: .8s;
  transition-delay: .8s;
  -webkit-transition-delay: .8s;
  -moz-transition-delay: .8s;
  -o-transition-delay: .8s;
}
.delay10 {
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
}
.delay12 {
  animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
}
html {
  height: 100%;
}
body {
  font-family: sans-serif, arial;
  padding: 0;
  background: #fbfbfb;
  height: 100%;
  color: #4a4d57;
}
img.img-responsive {
  margin: auto;
}
a {
  color: #e41d34;
}
p {
  font-size: 1.2em;
  color: #4a4d57;
}
/* texto */

h1,
h1#page-title {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  line-height: 1em;
  letter-spacing: -1px;
  width: auto;
  display: inline-block;
  text-transform: uppercase;
  background: transparent;
}
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  line-height: 1.2em;
  letter-spacing: -1px;
  width: auto;
  display: inline-block;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.58em;
  line-height: 1.2em;
  letter-spacing: -1px;
  width: auto;
  display: inline-block;
  font-weight: 600;
  color: #4a4d57;
}
h3:after {
  content: '';
  width: 200px;
  height: 5px;
  background: #e41d34;
  display: block;
  margin: 15px 0;
}
h4 {
  padding: 0;
  margin: 15px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  line-height: 1em;
  letter-spacing: -1px;
  width: auto;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 25px;
}
h5 {
  padding: 0;
  margin: 15px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
  width: auto;
  display: inline-block;
  font-weight: 800 !important;
  color: #4a4d57 !important;
}
/* abas */

#tabs,
.tabs {
  float: left;
  padding: 0 !important;
  margin: 25px 0;
  width: 100%;
}
#tabs li,
.tabs li {
  float: right !important;
}
#tabs li a,
.tabs li a {
  padding-top: 7px;
  margin: 0 !important;
}
/* formularios */

form .form-item label {
  margin: 20px 0 0 5px;
}
.form-actions.form-wrapper {
  background: transparent;
  border: none;
  padding: 0;
}
form input.form-text,
form textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #cccccc;
}
form .form-required {
  display: none;
}
input.form-submit {
  background: transparent;
  border: 2px solid #333333;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  font-size: 1em;
  margin: 10px 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 28px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0;
}
input.form-submit:hover {
  background: #e41d34;
  color: white;
  text-decoration: none;
  border-color: #e41d34;
}
a.botao {
  background: transparent;
  border: 2px solid #333333;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  font-size: 1em;
  margin: 10px 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 21px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.botao i {
  margin-left: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.botao:hover,
a.botao:active {
  background: #e41d34;
  color: white;
  text-decoration: none;
  border-color: #e41d34;
  cursor: pointer;
}
a.botao.dark {
  border-color: white;
  color: white;
}
a.botao.dark:hover,
a.botao.dark:active {
  background: #e41d34;
  border-color: #e41d34;
  cursor: pointer;
}
a.botao.destaque {
  background: #ce2127;
  border-color: transparent !important;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid #910005;
}
a.botao.destaque:hover,
a.botao.destaque:active {
  background: #910005;
}
a.botao.left:hover {
  padding-right: 11px;
}
a.botao.left:hover i {
  margin-left: 20px;
}
/* modal */

.modal-content {
  padding: 0 30px;
  border-radius: 0 !important;
  -moz-border-radius: 0  !important;
  -webkit-border-radius: 0  !important;
}
/*** GERAL ***********************************************************************/

#wrapper {
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/**** TOPO ******************************************************************************/

header {
  float: left;
  width: 100%;
  color: white;
  position: relative;
  background-color: #222222;
  padding: 20px 0 50px 0;
  /*#intro {
      position: absolute;
      left: 0;
      top: 50%;
      padding: 0 20px;
      width: 100%;
      text-align: center;
    }*/

  /*div.m2e{
        position: absolute;
        top: 15px;
        left: 125px;

        a{
           width: 190px;
           height: 45px;
           overflow: hidden;
           display: block;
           text-indent: -5000em;
           float: left;
           background: transparent url(../img/logo-m2e.png) 0 -50px no-repeat;
       }
    }*/

}
header #particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
}
header .container {
  position: relative;
  height: 100%;
}
header h1#page-title {
  width: 100%;
  float: left;
  margin-top: 150px;
}
/*--- GERAL ----------------------------------------------------------------------------------*/

#principal {
  float: left;
  width: 100%;
  min-height: 500px;
  background: #fbfbfb;
  position: relative;
}
#messages {
  float: left;
  width: 100%;
}
.front section h3 {
  font-size: 3.6em;
  font-weight: 800;
  letter-spacing: -1px;
}
/*--- PORTFOLIO GERAL -----------------------------------------------------------------------------------------*/

#portfolio {
  color: white;
  padding: 50px 0;
  background: #111111;
  padding: 0 ;
  font-size: 1.2em;
  float: left;
  width: 100%;
  background-image: radial-gradient(#555555, black);
  /*--- Modal / Portfolio Individual ---*/

}
#portfolio .view-portfolio-home2 {
  margin: 50px 0 75px 0;
  float: left;
  width: 100%;
}
#portfolio h3 {
  float: left;
  letter-spacing: -1px;
  padding: 25px 0;
}
#portfolio #filters {
  font-size: .75em;
  float: left;
  width: 100%;
}
#portfolio #filters a {
  margin-left: 10px;
  padding: 10px 20px;
  color: white;
}
#portfolio #filters a:hover {
  opacity: 1;
}
#portfolio .item {
  overflow: hidden;
}
#portfolio .item .mini {
  display: table;
  width: 100% ;
  height: 250px;
  vertical-align: middle;
  positio: relative;
  background: black;
}
#portfolio .item .mini .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#portfolio .item .mini a.portfolio-link {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  text-shadow: 1px 1px 1px black;
}
#portfolio .item .mini a.portfolio-link span {
  width: 100%;
  display: inline-block;
  padding: 15px 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#portfolio .item .mini a.portfolio-link span.title {
  font-size: 2em;
  font-weight: 700;
}
#portfolio .item .mini a.portfolio-link span.job {
  font-style: italic;
  text-transform: uppercase;
}
#portfolio .item:hover .bg {
  opacity: .3;
}
#portfolio .item:hover span {
  opacity: 1 !important;
}
#portfolio .item-2 .bg {
  background: transparent url('../img/bg_brasuca.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-3 .bg {
  background: transparent url('../img/bg_girassol.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-4 .bg {
  background: transparent url('../img/bg_lcneia.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-8 .bg {
  background: transparent url('../img/bg_balaios.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-9 .bg {
  background: transparent url('../img/bg_definitivo.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-10 .bg {
  background: transparent url('../img/bg_psicodelia.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-19 .bg {
  background: transparent url('../img/bg_tt.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-22 .bg {
  background: transparent url('../img/bg_efact.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-23 .bg {
  background: transparent url('../img/bg_uzlet.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-27 .bg {
  background: transparent url('../img/bg_insight.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-28 .bg {
  background: transparent url('../img/bg_multifolha.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-29 .bg {
  background: transparent url('../img/bg_tfi.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-30 .bg {
  background: transparent url('../img/bg_kultra.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .item-31 .bg {
  background: transparent url('../img/bg_golden.jpg') center center no-repeat;
  background-size: cover;
}
#portfolio .modal-body p {
  max-width: 700px;
  margin: auto;
  text-align: justify;
}
#portfolio .portfolio-modal .modal-content {
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333333;
}
#portfolio .portfolio-modal .modal-content h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  line-height: 1.2em;
  letter-spacing: -2px;
  width: auto;
  display: inline-block;
  font-weight: 700;
  margin: 0 0 50px 0;
}
#portfolio .portfolio-modal .modal-content p {
  margin-bottom: 30px;
  font-size: 1em;
  font-weight: normal;
}
#portfolio .portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}
#portfolio .portfolio-modal .close-modal:hover {
  opacity: .3;
}
#portfolio .portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #222222;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#portfolio .portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  background-color: #222222;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#portfolio .modal-body a {
  color: #e41d34;
}
#portfolio .modal-body a.botao {
  color: #333333;
}
#portfolio .modal-body a.botao:hover {
  color: white;
}
/*--- CONTATO ----------------------------------------------------------------------------------------------------*/

#call .modal-body a {
  color: #e41d34;
}
#call {
  padding: 50px 0 30px 0;
  float: left;
  width: 100%;
  border-top: 1px solid #cccccc;
  background: #f9f9f9;
}
#call h3 {
  letter-spacing: -2px;
}
#call .botao {
  margin-top: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  width: 100%;
}
/* link na mensagem de envio do formulario de contato*/

.ajax-processed {
  display: none;
}
/*---  SISTEMA -------------------------------------------------------------------------*/

/* LOGIN */

body.page-user #user-login {
  max-width: 700px;
  margin: 100px auto;
}
body.page-user footer {
  display: none;
}
/* ACESSO NEGADO */

/*--- RODAPE ----------------------------------------------------------------------------------------*/

footer {
  color: white;
  margin: 0;
  float: left;
  width: 100%;
}
footer .container {
  overflow: visible;
}
footer .rodape1 {
  background-color: #17181d;
  padding: 15px 0;
  border-bottom: 1px solid #161719;
  text-align: center;
}
footer .rodape1 .fone {
  padding-top: 75px;
  background: transparent url(../img/ico_celular.png) center 30px no-repeat;
}
footer .rodape1 .email {
  padding-top: 75px;
  background: transparent url(../img/ico_email.png) center 30px no-repeat;
}
footer .rodape1 .endereco {
  padding-top: 75px;
  background: transparent url(../img/ico_endereco.png) center 30px no-repeat;
}
footer .rodape2 {
  background-color: #0e0f12;
  padding: 15px 0;
  border-top: 1px solid #292b31;
}
footer .rodape2 .facebook {
  text-align: left;
  margin-top: 20px;
}
footer .rodape2 .m2e img {
  float: right;
  max-width: 52px;
}
/****************************************************************************************************************/

/****************************************************************************************************************/

/****************************************************************************************************************/

@media (max-width: 460px) {
  
}
@media (max-width: 767px) {
  h3 {
    font-size: 2em !important;
  }
  #portfolio .item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #portfolio #filters {
    float: right;
    width: auto;
    margin-top: 70px;
  }
  #portfolio .item {
    margin: 0;
    padding: 0;
    height: 250px;
    overflow: hidden;
    position: relative;
    opacity: 1;
  }
}
@media (min-width: 992px) {
  
}
@media (max-width: 1199px) {
  
}
@media (min-width: 1200px) {
  
}
