.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* animacoes */

.delay4 {
  animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  -o-animation-delay: .4s;
  transition-delay: .4s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
}
.delay6 {
  animation-delay: .6s;
  -moz-animation-delay: .6s;
  -webkit-animation-delay: .6s;
  -o-animation-delay: .6s;
  transition-delay: .6s;
  -webkit-transition-delay: .6s;
  -moz-transition-delay: .6s;
  -o-transition-delay: .6s;
}
.delay8 {
  animation-delay: .8s;
  -moz-animation-delay: .8s;
  -webkit-animation-delay: .8s;
  -o-animation-delay: .8s;
  transition-delay: .8s;
  -webkit-transition-delay: .8s;
  -moz-transition-delay: .8s;
  -o-transition-delay: .8s;
}
.delay10 {
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
}
.delay12 {
  animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
}
/* topo */

.front header {
  position: relative;
  min-height: 100%;
  display: block;
  background: #1d1d22;
  background-image: url(../img/bg09.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.front header #menu-toggle {
  background: #383b40;
}
.front header .chamada {
  width: 100%;
  float: left;
}
.front header .chamada h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4em;
  margin-right: 10px;
}
.front header .destaque {
  font-size: 1.6em;
  color: whitesmoke;
  margin-bottom: 15px;
}
.front header .botao {
  letter-spacing: -1px;
  width: 300px;
  margin: 0 10px;
}
.front header .botao i {
  font-size: 1.2em;
  margin-left: 10px;
  margin-right: 10px;
}
/*--- SECOES ---*/

.front section {
  float: left;
  width: 100%;
  padding: 50px 0;
}
.front section .chamada {
  margin-bottom: 50px;
}
.front section .chamada p {
  font-size: 1.6em;
  color: #8e8e8e;
}
/*--- WEBDESIGN -----------------------------------------------------------------------------------*/

.front #webdesign {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 150px;
}
.front #webdesign h3 {
  letter-spacing: -2px;
}
.front #webdesign img {
  margin-top: 25px;
}
.front #webdesign .diferenciais p {
  padding-left: 30px;
}
.front #webdesign .diferenciais p:before {
  font-family: FontAwesome;
  content: '\f00c';
  display: inline-block;
  margin: 0 12px 0 -30px;
  color: #e41d34;
}
/*--- SOCIAL MEDIA --------------------------------------------------------------------------------*/

.front #socialmedia {
  color: white;
  background: #16181d url(../img/bg_socialmedia.jpg) top left no-repeat;
  padding: 75px 0;
}
.front #socialmedia p {
  color: white;
}
.front #socialmedia h3 {
  color: white;
}
/*--- LOGOS -----------------------------------------------------------------------------------*/

.front #logos {
  padding: 40px 0 80px 0;
  border-bottom: 1px solid #eeeeee;
  background: white;
}
.front #logos div {
  padding: 5px;
}
.front #logos h3 {
  margin-top: 45px;
  letter-spacing: -2px;
}
/*--- ADS GOOGLE E FACEBOOK ----------------------------------------------------------------------*/

.front #ads {
  background: whitesmoke;
}
.front #ads .item {
  margin-bottom: 45px;
}
.front #ads .item div {
  padding: 7px;
}
.front #ads h5 {
  text-transform: uppercase;
}
.front #ads img {
  margin-top: 7px;
  height: 80px;
}
/***************************************************************************/

@media (max-width: 460px) {
  header i {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .front h1.m2e img {
    margin: 20px auto;
    max-width: 200px !important;
  }
  .front header h2,
  .front header .destaque {
    display: none;
  }
  .front header .botao {
    width: 85%;
    margin: 0 0 20px 0;
  }
  .front #socialmedia {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .front header {
    height: 100%;
  }
  .front header .chamada {
    position: absolute;
    bottom: 25px;
    left: 0;
  }
}
