.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* animacoes */

.delay4 {
  animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  -o-animation-delay: .4s;
  transition-delay: .4s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
}
.delay6 {
  animation-delay: .6s;
  -moz-animation-delay: .6s;
  -webkit-animation-delay: .6s;
  -o-animation-delay: .6s;
  transition-delay: .6s;
  -webkit-transition-delay: .6s;
  -moz-transition-delay: .6s;
  -o-transition-delay: .6s;
}
.delay8 {
  animation-delay: .8s;
  -moz-animation-delay: .8s;
  -webkit-animation-delay: .8s;
  -o-animation-delay: .8s;
  transition-delay: .8s;
  -webkit-transition-delay: .8s;
  -moz-transition-delay: .8s;
  -o-transition-delay: .8s;
}
.delay10 {
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
}
.delay12 {
  animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
}
/**********************************************************************************************/

#menu-toggle {
  height: 35px;
  color: whitesmoke;
  display: block;
  padding: 5px 9px;
  z-index: 50;
  cursor: pointer;
  border: 1px solid whitesmoke;
  opacity: .75;
  margin-top: 10px;
  background: #383b40;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
}
#menu-toggle span {
  display: inline-block;
  float: right;
  padding: 2px 0 0 7px;
  font-weight: bold;
}
#menu-toggle .burger {
  float: left;
  margin-top: 2px;
}
#menu-toggle .burger b {
  width: 21px;
  height: 3px;
  border-radius: 2px;
  display: block;
  background: none repeat scroll 0% 0% white;
  margin-bottom: 4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#menu-toggle:hover {
  background: black;
  opacity: 1;
}
.front #menu-toggle {
  background: transparent;
}
.front #menu-toggle:hover {
  background: #e41d34;
}
#sidebar {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -320px;
  background: #08080a;
  overflow-x: hidden;
  color: white;
  padding-top: 50px;
  overflow: hidden !important;
  text-align: center;
  opacity: .95;
  z-index: 25;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#wrapper.toggled #sidebar {
  right: 0;
}
#wrapper.toggled #menu-toggle {
  z-index: 500;
  background: #e41d34;
}
#wrapper.toggled #menu-toggle b:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 7px;
}
#wrapper.toggled #menu-toggle b:nth-child(2) {
  opacity: 0;
}
#wrapper.toggled #menu-toggle b:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -14px;
}
/* menu */

.menu {
  margin: 50px 0 0 0;
  width: 100%;
  float: left;
}
.menu li {
  padding: 15px 0 15px 5px;
  margin-left: 0;
  list-style-type: none;
  float: left;
  width: 100%;
  display: block;
}
.menu li a {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  padding: 8px;
}
.menu li a i {
  display: inline-block;
  font-size: 1.6em;
  margin-right: 15px;
}
.menu li.active {
  background: #e41d34;
}
.menu li:hover {
  background: #e41d34;
}
@media (max-width: 767px) {
  
}
